.list {
  $self: &;

  margin-bottom: 35px;

  &__add-button {
    opacity: 0.4;
    transition: 0.15s;

    &:hover {
      opacity: 0.9;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin-bottom: 3px;
    cursor: pointer;

    &:hover #{$self}__remove-icon {
      opacity: 0.2;
    }

    #{$self}__remove-icon {
      opacity: 0;
      transition: opacity 0.15s;

      &:hover {
        opacity: 0.7;
      }
    }

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    .badge {
      position: relative;
      left: 4px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;
    }
  }
}
