* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.todo {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 30px);
  height: calc(100vh - 100px);
  box-shadow: 1px 1px 10px #cfcfcf;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}

// Utilities
.field {
  background: #ffffff;
  color: #9e9e9e;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;

  &::placeholder {
    color: #c7c7c7;
  }

  &:focus {
    border: 1px solid #c2c2c2;
  }
}

.btn {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px;
  cursor: pointer;
  transition: 0.15s;

  &:hover {
    background-color: darken(#4dd599, 5%);
  }
  &:active {
    background-color: darken(#4dd599, 10%);
  }

  &:disabled {
    background: rgb(212, 212, 212);
  }

  &_grey {
    background-color: #f4f6f8;
    color: #555555;
    width: 90px;

    &:hover {
      background: darken(#f4f6f8, 3%);
    }

    &:active {
      background: darken(#f4f6f8, 6%);
    }
  }
}
